blockquote {
    padding-left: 1.25rem/* 20px */;
    margin-bottom: 0.5rem/* 8px */;
    border-left-width: 2px;
}
strong {
    font-weight: 600;
}
a {
    --tw-text-opacity: 1;
    color: rgb(30 64 175 / var(--tw-text-opacity));
    text-decoration-line: none;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 200ms;
    font-weight: 600;
}
a:hover {
    --tw-text-opacity: 1;
    color: rgb(59 130 246 / var(--tw-text-opacity));
}
th {
    font-weight: 600;
    padding-left: 0.25rem/* 4px */;
}
thead {
    text-align: left;
}


@media (prefers-color-scheme: dark) {
    a {
        --tw-text-opacity: 1;
        color: rgb(219 234 254 / var(--tw-text-opacity));
    }
    a:hover {
        --tw-text-opacity: 1;
        color: rgb(96 165 250 / var(--tw-text-opacity));
    }
}

.d-emoji {
    display: inline-block;
    object-fit: contain;
    width: 1.3em;
    height: 1.3em;
    vertical-align: bottom;
}
.discord-reactions .discord-reaction {
    background-color: #9a9fa96c;
    display: inline-flex;
    align-items: center;
    padding: 0 .4em;
    border-radius: 4px;
    margin-right: 2px;
    margin-bottom: 2px;
    border: 1px solid transparent;
    transition: background-color .1s ease, border-color .1s ease
}

.discord-reactions .discord-reaction:hover {
    background-color: #727781a3;
    border-color: rgba(105, 105, 105, 0.3)
}

.discord-reactions .discord-reaction .discord-reaction-count {
    margin-left: 6px
}

.discord-reactions {
    display: flex;
    flex-wrap: wrap;
    padding: 2px 0
}

@media (prefers-color-scheme: dark) {
    .discord-reactions .discord-reaction {
        background-color: #1c1d1f6c;
    }    
    .discord-reactions .discord-reaction:hover {
        background-color: #27292da3;
        border-color: rgba(255, 255, 255, 0.3)
    }
}